@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */
.menu{
    background-color: #eff3f4;
    width: 940px;
    margin: 0 auto;
}

.item{
    background-color: #eff3f4;
    width: 940px;
}

p{
    font-size: 18px;
    line-height: 22px;
    padding: 20px;
    text-align: justify;
}

img{
   float: left;
   margin-right: 20px;
   margin-bottom: 10px;
}

.img-right{
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}