@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */
.menu{
	width: 100%;
	border: 1px solid #dedede;
	table-layout: fixed;
}

.menu th {
	background: #3344aa;
	font-size: 18px;
	line-height: 26px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #dedede;
}

.menu tr:nth-child(2n+1) {
	background: #ecf1f2;
	font-size: 16px;
	line-height: 22px;
}

.menu tr:last-child {
	border-top: 2px dashed #000;
}

.menu tr{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.menu td{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border: 1px solid #dedede;
}
